<template>
    <div class="overflow-hidden overflow-x-auto min-w-full align-middle sm:rounded-md">



    </div>
</template>

<script setup>
    import useCompanies from "@/composables/companies";
    import { onMounted } from "vue";

    const { companies, getCompanies, destroyCompany } = useCompanies()
    onMounted(getCompanies)
    const deleteCompany = async (id) => {
        if (!window.confirm('Are you sure?')) {
            return
        }
        await destroyCompany(id);
        await getCompanies();
    }
</script>
