<template>
    <div class="overflow-hidden overflow-x-auto min-w-full align-middle sm:rounded-md">

        <div>
            <table class="table table-bordered yajra-datatable">
                <thead>
                <tr>
                    <th>state</th>
                    <th>created_at</th>
                    <!-- Other table headers -->
                    <th>id</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in dataTableItems" :key="item.id">
                    <td>{{ item.state }}</td>
                    <td>{{ formatDate(item.created_at) }}</td>
                    <!-- Bind other table data -->
                    <td>{{ item.id }}</td>
                </tr>
                </tbody>
            </table>
            <input v-model="pageNumber" type="text" class="form-control" placeholder="Go to page..."
                   @keyup.enter="goToPage">
        </div>
    </div>
</template>


<script setup>
    import { ref } from "vue";
    import axios from 'axios';
    import useCompanies from "@/composables/companies";
    import { onMounted } from "vue";

    const { companies, getCompanies, destroyCompany } = useCompanies()

    const deleteCompany = async (id) => {
        if (!window.confirm('Are you sure?')) {
            return;
        }
        try {
            await destroyCompany(id);
            await getCompanies();
        } catch (error) {
            console.error('Error deleting company:', error);
        }
    }

    const dataTableItems = ref([]);
    const pageNumber = ref(1);

    onMounted(getData);

    async function getData() {
        try {
            const response = await axios.get('http://127.0.0.1/getData');
            dataTableItems.value = response.data;
        } catch (error) {
            console.error('Error fetching data:', error);
        }
    }

    function formatDate(dateString) {
        // Implement date formatting logic
    }

    function goToPage() {
        // Implement pagination logic
    }
</script>
